*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.we__offer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    overflow: auto; /* Enable horizontal scrolling if needed */
  }
  
  .we__offer_card {
    flex: 1 0 30%; /* Allow each card to take up about 30% of the container width */
    background-color: gray;
    border: 1px solid #e0e0e0;
    margin-right: 12px;
  }

.we__offer_content{
    padding: 10px;
}

@media only screen and (max-width: 900px){
    .navigation_container{
            grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .navigation_container{
            grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px){
    .navigation_container{
            grid-template-columns: repeat(1, 1fr);
    }
}